<main>
    <section class="main-section" id="main-section">
        <div class="container">
            <h2>About Us</h2>
            <p>Welcome to Tutorify - the ultimate language learning paradise! We are a groundbreaking platform with over 200 amazing tutors, delivering an immersive and inspiring learning experience. Join us as we conquer any language in style!</p>
        
            <div class="mission-grid">
                <div class="mission-card">
                    <h3>Our Mission</h3>
                    <p>Bringing you a flexible, personalized and inspiring learning journey.</p>
                </div>
                <div class="mission-card">
                    <h3>Super Team</h3>
                    <p>Over 200 talented tutors, ready to lead you to the pinnacle of language.</p>
                </div>
                <div class="mission-card">
                    <h3>Cutting Edge Technology</h3>
                    <p>Cutting-edge content, constantly updated, helps you learn at lightning speed!</p>
                </div>
            </div>
            <div class="cta">
                <a href="lessons.html" class="cta-button">Explore Lessons</a>
                <a href="#" class="cta-button secondary">Learn About Tutors</a>
            </div>
        </div>
    </section>
    <!-- End of Main section -->
    <!-- Start of Work section -->
    <section class="how-it-works" id="how-it-works">
        <div class="container">
            <h2>How It Works</h2>
            <p>With a clear and flexible learning process, you can easily start your language journey. From choosing the right tutor, booking a lesson at the desired time, to starting an online lesson – all are designed to bring the most personalized, convenient and effective experience for learners.</p>
            <ul class="work-list">
                <li class="work-item">
                    <h3 class="content-title">Find a tutor</h3>
                    <p class="content-description">Choose your ideal teacher from over 10,000 qualified languages tutors</p>
                </li>
                <li class="work-item">
                    <h3 class="content-title">Book a lesson</h3>
                    <p class="content-description">Select a lesson time and add it to their calendar</p>
                </li>
                <li class="work-item">
                    <h3 class="content-title">Start learning</h3>
                    <p class="content-description">Simple as that, you are learning a language</p>
                </li>
            </ul>
        </div>
    </section>      
    <!-- End of Work section -->
</main>
