<footer class="footer-main">
    <div class="container">
        <div class="content">
            <div class="footer-tutorify">
                <h3>Tutorify</h3>
                <p class="description">Learn more than just a language</p>
                <div class="icon-lists">
                    <figure>
                        <img src="../assets/icons/google-icon.png" alt="Google Icon">
                    </figure>                
                    <figure>
                        <img src="../assets/icons/twitter-icon.png" alt="Twitter Icon">
                    </figure>                
                    <figure>
                        <img src="../assets/icons/instagram-icon.png" alt="Instagram Icon">
                    </figure>                
                    <figure>
                        <img src="../assets/icons/linkedin-icon.png" alt="Linkedin Icon">
                    </figure>                
                </div>
            </div>
            <div class="footer-nav">
                <div class="footer-nav-list">
                    <div class="title footer-toggle">
                        <p class="list-title">Find Teacher</p>
                        <figure>
                            <img src="../assets/icons/Vector.svg" alt="vector">
                        </figure>
                    </div>
                    <div class="list-item">
                        <ul>
                            <include src="./components/footerList.html" locals='{
                                "list": [{"text": "English Teachers", "href": "#"},
                                         {"text": "Chinese Teachers", "href": "#"},
                                         {"text": "French Teachers", "href": "#"},
                                         {"text": "Spanish Teachers", "href": "#"},
                                         {"text": "Other Teachers", "href": "#"}]
                            }'></include>
                        </ul>
                    </div>
                </div>
                <div class="footer-nav-list list-sp">
                    <div class="title footer-toggle">
                        <p class="list-title">Lessons</p>
                        <figure>
                            <img src="../assets/icons/Vector.svg" alt="vector">
                        </figure>
                    </div>
                    <div class="list-item">
                        <ul>
                            <include src="./components/footerList.html" locals='{
                                "list": [{"text": "Learn English", "href": "lessons.html#lessons"},
                                         {"text": "Learn Chinese", "href": "lessons.html#lessons"},
                                         {"text": "Learn French", "href": "lessons.html#lessons"},
                                         {"text": "Learn Spanish", "href": "lessons.html#lessons"},
                                         {"text": "Learn More Languages", "href": "lessons.html#lessons"}]
                            }'></include>
                        </ul>
                    </div>
                </div>
                <div class="footer-nav-list">
                    <div class="title footer-toggle">
                        <p class="list-title">Company</p>
                        <figure>
                            <img src="../assets/icons/Vector.svg" alt="vector">
                        </figure>
                    </div>
                    <div class="list-item">
                        <ul>
                            <include src="./components/footerList.html" locals='{
                                "list": [{"text": "About", "href": "about.html#main-section"},
                                         {"text": "How it Works", "href": "about.html#how-it-works"},
                                         {"text": "Term", "href": "#"},
                                         {"text": "Privacy Policy", "href": "#"}]
                            }'></include>
                        </ul>
                    </div>
                </div>
                <div class="footer-nav-list">
                    <div class="title footer-toggle">
                        <p class="list-title">More</p>
                        <figure>
                            <img src="../assets/icons/Vector.svg" alt="vector">
                        </figure>
                    </div>
                    <div class="list-item">
                        <ul>
                            <include src="./components/footerList.html" locals='{
                                "list": [{"text": "Documentary", "href": "#"},
                                         {"text": "License", "href": "#"}]
                            }'></include>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright &copy; 2025. Create with love</p>
        </div>
    </div>
</footer>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const toggles = document.querySelectorAll(".footer-toggle");
    
        toggles.forEach((toggle) => {
            toggle.addEventListener("click", function () {
                const parent = toggle.closest(".footer-nav-list");
                parent.classList.toggle("active");
            });
        });
    });
</script>
