<main>
    <!-- Start of hero section -->
    <section class="hero">
        <div class="hero-content">
            <p class="tagline">We are The Best</p>
            <h3>
                Learn Frome Home With <span class="highlight">The Best</span> Online
                Languange Tutors
            </h3>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id interdum dui mollis. Suspendisse nulla:
            </p>
            <button class="cta">Try Free Lessons</button>
        </div>
        <figure class="tutor-section">
            <img src="../assets/images/Group-310.png" alt="Tutor image">
        </figure>
    </section>
    <!-- End of hero section -->
    <!-- Start of information section -->
    <section class="information">
        <div class="main-container">
            <div class="offer">
                <div class="offer-info">
                    <p class="tagline1">What do you want to learn?</p>
                    <h3>What We Offer</h3>
                    <p class="tagline2">I want to learn</p>
                </div>
                <div class="offer-flag">
                    <div class="offer-flag-child1">
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam reiciendis, error reprehenderit adipisci voluptatem soluta velit, beatae repudiandae pariatur quibusdam unde praesentium commodi? Libero?</p>
                    </div>
                    <div class="offer-flag-child2">
                        <img class="flag-item" src="../assets/icons/saint-1.svg" alt="France-Flag">
                        <img class="flag-item" src="../assets/icons/saint-2.svg" alt="China-Flag">
                        <img class="flag-item" src="../assets/icons/saint-3.svg" alt="Germany-Flag">
                        <img class="flag-item" src="../assets/icons/saint-4.svg" alt="Japan-Flag">
                        <img class="flag-item" src="../assets/icons/saint-5.svg" alt="Flag">
                        <img class="flag-item" src="../assets/icons/saint-6.svg" alt="Flag">
                        <img class="flag-item" src="../assets/icons/saint-7.png" alt="Spain-Flag">
                        <div class="view-all">
                            <p>View All</p>
                            <img src="../assets/icons/arrow-1.svg" alt="Arrow">
                        </div>
                    </div>
                </div>
            </div>
            <div class="purchase">
                <div class="text-content">
                    <h3>Purchase your awesome lessons and find your tutors</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem habitant a tincidunt cras accumsan integer suscipit. Libero accumsan eget aliquet.</p>
                    <div class="btn-container">
                        <button class="btn buy">Book Your Lessons</button>
                        <button class="btn find">Find Your Tutors</button>
                    </div>
                </div>
                <div class="circle-container">
                    <img src="../assets/images/Group-15.png" alt="Main Tutor">
                </div>
            </div>
        </div>
    </section>
    <!-- End of information section -->
    <!-- Start of Service section -->
    <section class="service">
        <div class="container">
            <div class="container-content">
                <div class="text-content">
                    <h3>What Will You <span>Get</span> ?</h3>
                    <p class="description">
                        Lorem ipsum dolor voluptatibus, adipisicing consectetur <br>amet elit. Rem natus nihil sit <br>accusamus ab!
                    </p>
                </div>
                <div class="aim-content">
                    <ul>
                        <include src="./components/aimList.html" locals='{
                            "list":[{"contentA": "1-on-1 lessons in more than 150 languages", "contentB": "Learn from certified teachers with proven experience.."},
                                    {"contentA": "Pratice for free with the italki community", "contentB": "Devolop your language skills by building connection with others.."},
                                    {"contentA": "Take learning beyond the classroom", "contentB": "Learn from certified teachers with proven experience.."}]
                        }'></include>
                    </ul>
                </div>
            </div>
            <figure class="container-img">
                <img src="../assets/images/Group 314.png" alt="Person">
            </figure>
        </div>
    </section>
    <!-- End of Service section -->
    <!-- Start of Instruction section -->
    <section class="instruction">
        <div class="container">
            <div class="instruction-content">
                <div class="text">
                    <h3>Here's is how it <span>work</span></h3>
                    <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt assumenda omnis incidunt, aliquid ipsum ducimus libero sit autem maiores! Nisi.</p>
                </div>
                <div class="work">
                    <ul>
                        <li class="work-item">
                            <figure class="work-item-icon icon-1st">
                                <img src="../assets/icons/Group-21.svg" alt="icon">
                            </figure>
                            <div class="work-item-content">
                                <p class="content-title">Find a tutor</p>
                                <p class="content-description">Choose your ideal teacher from over 10,000 qualified languages tutors</p>
                            </div>
                        </li>
                        <li class="work-item">
                            <figure class="work-item-icon icon-layer">
                                <img class="img1" src="../assets/icons/layer-1.png" alt="layer">
                                <img class="img2" src="../assets/icons/Calendar.svg" alt="icon">
                            </figure>
                            <div class="work-item-content">
                                <p class="content-title">Book a lesson</p>
                                <p class="content-description">Select a lesson time and add it to their calendar</p>
                            </div>
                        </li>
                        <li class="work-item">
                            <figure class="work-item-icon icon-layer">
                                <img class="img1" src="../assets/icons/layer-1.png" alt="layer">
                                <img class="img2" src="../assets/icons/bi_laptop-fill.svg" alt="icon">
                            </figure>
                            <div class="work-item-content">
                                <p class="content-title">Start learning</p>
                                <p class="content-description">Simple as that, you are learning a language</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <figure class="instruction-img">
                <img src="../assets/images/Group-315.png" alt="video">
            </figure>
        </div>
    </section>
    <!-- End of Instruction section -->
    <!-- Start of About section -->
    <div class="about">
        <div class="container">
            <div class="about-content">
                <h3>Edu Smart it's about mastering a timeless skill</h3>
                <p class="description">cultivating new perspectives, and connecting with fascinating people from around the world.</p>
            </div>
            <div class="about-comment">
                <figure class="suround">
                    <img src="../assets/icons/suround.png" alt="suround">
                </figure>
                <div class="suround-right">
                    <div class="suround-container">
                        <div class="content">
                            <div class="star-list">
                                <ul>
                                    <include src="./components/starList.html" locals='{
                                        "list": ["star", "star", "star", "star", "star"]
                                    }'></include>
                                </ul>
                            </div>
                            <p class="description">"With Edu Smart, we can make it easier for you to master a foriegn language, it is important for us to grow and engage with our students</p>
                            <div class="personal-cmt">
                                <figure>
                                    <img src="../assets/images/Photo.svg" alt="photo">
                                </figure>
                                <div class="info">
                                    <p class="name">Jaqoun Hart</p>
                                    <p class="job">Digital Marketing Executive, Hypebeast</p>
                                </div>
                            </div>
                        </div>
                        <figure class="icon">
                            <img src="../assets/icons/Group40.svg" alt="photo">
                        </figure>
                    </div>
                    <div class="star-list">
                        <ul>
                            <include src="./components/dotList.html" locals='{
                                "list": ["full-dot", "normal-dot", "normal-dot", "normal-dot", "normal-dot"]
                            }'></include>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of About section -->
    <!-- Start of Landing section -->
    <section class="landing">
        <div class="container">
            <div class="landing-content">
                <h3>Learn more than just a language <span>😍</span></h3>
                <p class="description">Over 100,000 students join us monthly</p>
                <div class="icon-face">
                    <figure>
                        <img src="../assets/images/Group-43.png" alt="icon face">
                    </figure>
                    <p class="other">and others</p>
                </div>
            </div>
            <div class="landing-button">
                <button>Get your free lessons now</button>
            </div>
        </div>
    </section>
    <!-- End of landing section -->
</main>
